<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>知日报 - 频道页</title>
        <link rel="stylesheet" href="/static/css/semantic.css" media="screen" title="no title">
        <link rel="stylesheet" href="/static/css/categories.css" media="screen" title="no title">
    </head>
    <body>

<!--header部分-->
        <div class="ui divider" style="background-color:red;height:4px;margin:0px;">
        </div>
        <div class="ui vertical segment">
            <div class="ui vertical segemnt container header-menu">
                <div class="ui borderless text menu">
                    <div class="ui image" style="height:42px;width:42px;">
                        <img src="/static/images/icon.png" alt="" />
                    </div>
                    <div class="ui image" style="padding-left:10px;padding-top:5px;">
                            <img src="/static/images/zhiribao.png" alt="" />
                    </div>
                    <a href="#" class="item" style="padding-left:30px;font-size:18px;">首页</a>
                    <a href="#" class="item" style="color:red;padding-left:30px;font-size:18px;">大公司日报</a>
                    <a href="#" class="item" style="padding-left:30px;font-size:18px;">设计日报</a>
                    <a href="#" class="item" style="padding-left:30px;font-size:18px;">不许无聊</a>
                    <div class="right menu">
                        <div class="ui image user-img" style="margin-top:15px;">
                            <img src="/static/images/avatar.png" alt="" />
                        </div>
                    </div>
                    <div class="ui vertical segment" style="margin-top:8px;margin-left:6px;">
                        <h5 class="ui header user-name">Matt</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider" style="margin:0;"></div>

<!--主题部分（五个大新闻+编辑推荐）-->
        <div class="ui vertical segment container article">
            <div class="ui grid">
                <div class="six wide column">
                    <div class="ui vertical segment picture">
                        <img src="/static/images/cate_articleimg1.png" alt="" />
                    </div>
                    <div class="ui vertical segment picture">
                        <img src="/static/images/cate_articleimg2.png" alt="" />
                    </div>
                    <div class="ui vertical segment picture">
                        <img src="/static/images/cate_articleimg3.png" alt="" />
                    </div>
                    <div class="ui vertical segment picture">
                        <img src="/static/images/cate_articleimg4.png" alt="" />
                    </div>
                    <div class="ui vertical segment picture">
                        <img src="/static/images/cate_articleimg5.png" alt="" />
                    </div>
                </div>
                <div class="six wide column">
                    <div class="ui vertical segment text-tab">
                        <h3 class="ui header" style="">
                            大家各有所长，但要一起做事效率才高
                            <p></p>
                            <p class="sub header">
                                最优效率的生产，应该先让最合适生产这个东西的人去生产，但是随着你想生产的更多，只好让那些最不合适的也上了。
                            </p>
                        </h3>
                        <div class="ui vertical segment metatime" style="top: 20%;">
                            <p class="sub header metatime">
                                32分钟前
                            </p>
                        </div>
                    </div>
                    <div class="ui vertical segment text-tab">
                        <h3 class="ui header">
                            2016 年最引人注目的包装设计，都能说明哪些消费趋势？
                            <p></p>
                            <p class="sub header">
                                在这个颜值当道的时代，即便是你对自己的产品本身有着绝对自信，还是花点心思为它乔装打扮一番吧。
                            </p>
                        </h3>
                        <div class="ui vertical segment metatime" style="top: 16%;">
                            <p class="sub header metatime">
                                31分钟前
                            </p>
                        </div>
                    </div>
                    <div class="ui vertical segment text-tab">
                        <h3 class="ui header">
                            四年前卡梅隆在中国开了家公司，但如今还是默默无闻
                            <p></p>
                            <p class="sub header">
                                电影技术公司在中国一向不受重视，哪怕创始人拍出过《阿凡达》。
                            </p>
                        </h3>
                        <div class="ui vertical segment metatime" style="top: 44%;">
                            <p class="sub header metatime">
                                30分钟前
                            </p>
                        </div>
                    </div>
                    <div class="ui vertical segment text-tab">
                        <h3 class="ui header">
                            大公司头条：智能手表销量三季度跌了一半
                            <p></p>
                            <p class="sub header">
                                我们每天早上为你摘取最重要的商业新闻，一切可能改变我们生活的公司都在其列。
                            </p>
                        </h3>
                        <div class="ui vertical segment metatime" style="top: 32%;">
                            <p class="sub header metatime">
                                29分钟前
                            </p>
                        </div>
                    </div>
                    <div class="ui vertical segment text-tab">
                        <h3 class="ui header">
                            既不缺钱又不缺人，为何你的直播系统还是做砸了
                            <p></p>
                            <p class="sub header">
                                我来给大家讲个故事。
                            </p>
                        </h3>
                        <div class="ui vertical segment metatime" style="top: 55%;">
                            <p class="sub header metatime">
                                28分钟前
                            </p>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui red vertical segment recommend-editor">
                        <h3 class="ui header editor" style="font-size:16px;">编辑推荐</h3>
                        <div class="ui vertical segment picture-rec" style="background: url('/static/images/sideimg1.png');">
                            <div class="ui vertical segment label-num" style="  background:url('/static/images/redtag.png');background-repeat: no-repeat;background-size: contain; ">
                                <p class="sub header" style="font-size:12px;">
                                    TOP1
                                </p>
                            </div>
                            <div class="ui segment inverted grey title"></div>
                            <p class="sub header title" style="font-size:14px;">
                                卖公司这事还是有很多学问的，Twitter怎么就尴尬了呢？
                            </p>
                        </div>
                        <div class="ui vertical segment picture-rec" style="background: url('/static/images/sideimg2.png');">
                            <div class="ui vertical segment label-num" style="  background:url('/static/images/yellowtag.png');background-repeat: no-repeat;background-size: contain; ">
                                <p class="sub header" style="font-size:12px;">
                                    TOP2
                                </p>
                            </div>
                            <div class="ui segment inverted grey title"></div>
                            <p class="sub header title" style="font-size:14px;">
                                硅谷收益最高的风投说，钱太多是这个市场最大的问题。
                            </p>
                        </div>
                        <div class="ui vertical segment picture-rec" style="background: url('/static/images/sideimg3.png');">
                            <div class="ui vertical segment label-num" style="  background:url('/static/images/bluetag.png');background-repeat: no-repeat;background-size: contain; ">
                                <p class="sub header" style="font-size:12px;">
                                    TOP3
                                </p>
                            </div>
                            <div class="ui segment inverted grey title"></div>
                            <p class="sub header title" style="font-size:14px;">
                                看起来不起眼的日常设备，可能是未来网络攻击的对象。
                            </p>
                        </div>

                        <div class="ui list">
                          <span class="sidbararrow"> </span><a class="item uilist" href="#">这部别出心裁的漫画，讲的是阿富汗战争时期不为人知的历史</a>
                          <div class="listdescription">3分钟前</div>
                          <span class="sidbararrow"> </span><a class="item uilist" href="#">华纳兄弟将拍摄的新片，讲述的是亚洲富豪的故事</a>
                          <div class="listdescription">3分钟前</div>
                          <span class="sidbararrow"> </span><a class="item uilist" href="#">美国各大银行纷纷关闭分行，说要向数字化转型</a>
                          <div class="listdescription">3分钟前</div>
                          <span class="sidbararrow"> </span><a class="item uilist" href="#">在医院看病也用微信支付，腾讯这回可能想多了   </a>
                          <div class="listdescription">3分钟前</div>
                          <span class="sidbararrow"> </span><a class="item uilist" href="#">马化腾说，微信最早就是个邮箱</a>
                          <div class="listdescription">3分钟前</div>
                          <span class="sidbararrow"> </span><a class="item uilist" href="#">拿了这笔钱后，全球最红新媒体之一BuzzFeed值17亿美元了</a>
                          <div class="listdescription">3分钟前</div>
                          <span class="sidbararrow"> </span><a class="item uilist" href="#">意想不到的童年回忆杀，《蜡笔小新》最新剧场版来了内地</a>
                          <div class="listdescription">3分钟前</div>
                        </div>
                        <div class="ui vertical segment ad">
                            <div class="ui image ad">
                                <img src="/static/images/ad.png" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button type="button" name="button" class="ui red inverted button">浏览更多</button>
        </div>

<!--footer黑色知日报部分-->
        <div class="ui inverted vertical segment footer">
            <div class="ui inverted vertical segment container">
                <div class="ui grid">
                    <div class="ten wide column">
                        <div class="ui inverted vertical segment foot-info">
                            <div class="ui image">
                                <img src="/static/images/white_zhiribao.png" alt="" />
                            </div>

                                <h3 class="ui header" style="color:red;font-size:22px;">
                                    关于我们
                                    <span class="white-font" style="color:white;"> | </span>
                                    加入我们
                                    <span class="white-font" style="color:white;"> | </span>
                                    联系我们
                                    <span class="white-font" style="color:white;"> | </span>
                                    寻求报道
                                </h3>
                                <h3 class="ui header" style="color:red;font-size:22px;">
                                    <span class="white-font" style="color:white;font-size:22px;">
                                        反馈建议：
                                    </span>
                                    hi@mugglecoding.com
                                </h3>
                        </div>
                    </div>

                    <div class="six wide column">
                        <div class="ui inverted vertical segment wx">
                            <div class="ui image wx">
                                <img src="/static/images/wx.JPG" alt="" />
                            </div>
                            <p></p>
                            <div class="ui vertical inverted segment scan-code">
                                <p style="font-size:16px;">
                                    扫码关注微信公众号
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui basic segment top">
                <button type="button" name="button" class="ui circular red button">
                    <i class="arrow up icon" style="margin-left:3px;"></i>
                    <p>
                        Top
                    </p>
                </button>
            </div>
        </div>

<!--底部小组信息部分-->
        <div class="footer-text" style="border-color:red;">
            <div class="ui vertical segment container ">
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui vertical center aligned segment foot-info">
                            <h5 class="ui header design-info">
                                Designed bu Mugglecoding
                                <p>
                                    Developed by Monster Team
                                </p>
                            </h5>

                        </div>
                    </div>

                    <div class="eight wide column">
                        <div class="ui vertical center aligned vertical segment">
                            <h5 class="ui header" style="margin-top:7px;">
                                京 ICP 备123878345号
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider" style="background-color:red;height:4px;margin:0px;">
        </div>
    </body>
</html>
