<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/semantic.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/detail-noabstract.css" media="screen" title="no title">
    <title>知日报 - 详情页</title>
  </head>
  <body>
    <div class="total" style="width:1440px;margin:0 auto;position:relative;">
      <div class="ui red basic segment top" >
        <div class="ui five item text menu">
        <a href="#" class="item">
          <div class="ui image">
            <img src="images/icon.png" alt="" />
          </div>
          <div class="ui image">
            <img src="images/zhiribao.png" alt="" />
          </div>
        </a>
            <a class="item" style="color:black;font-size:18px;">
              首页
            </a>
            <a class="item" style="color:black;font-size:18px">
              大公司日报
            </a>
            <a class="item" style="color:black;font-size:18px">
              设计日报
            </a>
            <a class="item" style="color:black;font-size:18px">
              不许无聊
            </a>
        </div>
        <img class="img login"src="images/login.png" alt="" />
        <span class="txt1">登录</span>
        <img class="img register"src="images/register.png" alt="" />
        <span class="txt2">注册</span>
      </div>

       <div class="ui basic segment  leftside" >
          <hr style="border : 1px dashed white;" />

          <span>图片:Zoommy</span>
       </div>
       <div class="image-text" >
         这是领取千万年薪以外，设计师最有盼头的事情
       </div>
      <div class=" text-content">
        <p style="font-size:32px;color:black;">
           那些室内手绘图怎么都没有实物照片，难道都是凭空自己想象出来的吗？
        </p>
      </div>

      <div class="ui basic segment mid">

          <div class="ui image">
             <img  src="images/avatar2.png"  alt="" />
          </div>

          <span style="margin-left:10px;font-size:16px;">  大头帮主，</span>


         <span style="color:grey;font-size:16px;">轻健身创始人</span>
         <p class="article-title" style="font-size:16px;"><b>1)室内手绘图没有实物图片？</b></p>
         <p class="article-body" style="font-size:16px;">这个......</p>
         <div class="article-image">
           <img src="images/articleimg1.png" alt="" />
        </div>
        <p class="article-title" style="font-size:16px;"><b>2)是否完全靠凭空想象？</b></p>
        <p class="article-body" style="font-size:16px;">怎么可能！再牛逼的银多少都总还要学习一点这个世界的运行规律吧骚年！</p>
        <div class="article-image">
          <img src="images/articleimg2.png" alt="" />
       </div>
       <div class="left-border">
          <p style="font-size:16px;">
            我们在思考这个栏杆节点的时候，所需要考虑的东西，并不仅仅是一个「结果」，还是一个「过程」。为了向助手传达「紧实」的效果，我需要「引用」一下附近一位美女。这就是实物参考。
          </p>
       </div>
       <p style="font-size:16px;margin-top:29px;">
         设计图，不论是手绘还是计算机制作，都是为了传达设计意图的。并不是每个设计的命题，都有机会指向一个人类从未亲见，纯粹靠理论支撑起来的景象——比如，Interstellar 里面的黑洞和虫洞。（那也不是瞎整出来的，而是严格计算出来的。）
       </p>

      <span style="float:right;border-bottom:1px solid red;font-size:16px;margin-top:50px;">查看知乎原文（6015条讨论）</span>


</div>

          <div class="ui basic center aligned segment" style="width:204px;height：148px;padding:0;position:absolute;top:2170px;left:280px;">
            <div class="ui image">
              <img src="images/recommend_img1.png" style="width:100%;height:100%;" alt="" />
            </div>
          <div class="ui fluid info2">要接多少案子，才能成为一名专项律师？</div>
         </div>

         <div class="ui basic center aligned segment" style="width:204px;height：148px;padding:0;position:absolute;top:2170px;left:503px;">
           <div class="ui image">
             <img src="images/recommend_img2.png" style="width:100%;height:100%;" alt="" />
           </div>
         <div class="ui fluid info2">面试官问你的缺点是什么，应该如何回答？</div>
        </div>

        <div class="ui basic center aligned segment" style="width:204px;height：148px;padding:0;position:absolute;top:2170px;left:726px;">
          <div class="ui image">
            <img src="images/recommend_img3.png" style="width:100%;height:100%;" alt="" />
          </div>
        <div class="ui fluid info2">小事 . 必须结婚，不结不行</div>
       </div>


     <div class="ui basic segment bottom">
         <p ><b>评论</b></p>
         <div class="comment" style="margin-top:22px;;">
           <div class="ui image">
             <img src="images/avatar_matt.png" alt="" />
           </div>
            <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">Matt</b>&nbsp;&nbsp;&nbsp;10-25 08:43</span>
            <span class="black-reply">&nbsp;&nbsp;&nbsp;很棒的文章！</span>
            <span class="red-reply">回复</span>
         </div>

         <div class="comment">
           <div class="ui image">
             <img src="images/avatar_jack.png" alt="" />
           </div>
            <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">Jack</b>&nbsp;&nbsp;&nbsp;10-25 08:56</span>
            <span class="black-reply">&nbsp;&nbsp;&nbsp;为毛要用红笔画，看着别扭！</span>
            <span class="red-reply">回复</span>
         </div>

         <div class="comment">
           <div class="ui image">
             <img src="images/avatar_yangjing.png" alt="" />
           </div>
            <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">杨静</b> 回复 <b style="color:black;">Jack</b>&nbsp;&nbsp;&nbsp;10-25 11:56</span>
            <span class="black-reply">&nbsp;&nbsp;&nbsp;这找茬的点还真是清新脱俗。</span>
            <span class="red-reply">回复</span>
         </div>

         <div class="comment" >
           <div class="ui image">
             <img src="images/avatar_jack2.png" alt="" />
           </div>
            <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">Jack</b>&nbsp;&nbsp;&nbsp;10-25 08:43</span>
            <span class="black-reply">&nbsp;&nbsp;&nbsp;先帮我把千万年薪结一下谢谢。</span>
            <span class="red-reply">回复</span>
         </div>

         <div class="ui segment input-reply" style="width:601px;height:194px;border-radius: 5px;border: solid 1px #eaebeb;margin-top:75px;margin-bottom:40px;">

         </div>


          <div class="ui  red button" style="width:144px;height:49px;">
                <span style="color: #ffffff;font-size: 20px;font-weight: bold;">写评论</span>
          </div>
     </div>

     <div class="ui very padded segment fluid vertical inverted black container" style="position:absolute;top:3286px;height:299px;padding:48px 307px 0 282px;">
   		<div class="ui grid">
   			<div class="ui twelve wide column">
   				<div class="ui image">
   					<img src="images/white_zhiribao_1.png">
   				</div>
   				<h3 style="margin-top:65px;font-size:24px;">
   				<a style="color:#f30c28;" href="#">关于我们</a> <span class="footdivider" style="color:#9b9b9b;" >|</span>
   				<a style="color:#f30c28;"  href="#">加入我们</a> <span class="footdivider" style="color:#9b9b9b;" >|</span>
   				<a style="color:#f30c28;"  href="#">联系我们</a> <span class="footdivider" style="color:#f30c28;" >|</span>
   				<a style="color:#f30c28;"  href="#">寻求报道</a>
   				</h3>
   				<h3 style="font-size:24px;">反馈建议：<span style="color:#f30c28;"  >houzhong@gmail.com</span></h3>

   			</div>
   			<div class="ui four wide column center aligned">
   				<div class="ui image">
   					<img src="images/qrcode.png">
   				</div>
   					<h2>扫码关注微信号</h2>
   			</div>
   		</div>
   	<div class="ui grid">
   	<div class="ui circular big red button" style="width:32px; height: 62px; position: absolute;top:100%;left:50%;transform:translate(-50%,-50%)">
          <img src="images/upicon.png" style="position:absolute;left:15%;top:10%;">
          <img src="images/TOP.png" style="position:absolute;left:15%;bottom:28%;">
    </div>
   	</div>

   	</div>
   	<div class="ui very padded segment fluid vertical container" style="height:110px;position:absolute;top:3585px;padding-left:282px;border-bottom: solid 2px #f30c28;">
          <h2 style="color: #333333;color: var(--black);font-size: 24px;font-weight: 300;margin-top:-25px;">Designed By mugglecoding</h2>
   				<h2 style="color: #333333;color: var(--black);font-size: 24px;font-weight: 300;margin-top:-5px">Developed By XXX Team</h2>
   	      <span style="color: #333333;color: var(--black);font-size: 24px;font-weight: 300;position:absolute;right:279px;bottom:27px;">京&nbsp;ICP&nbsp;备123878345号</span>
    </div>


      <div class="ui  red basic segment rightside" style="padding-left:0;padding-right:0;" >
        <h3 class="ui center aligned header">编辑推荐</h3>

        <div  class="ui basic  center aligned segment rightside" style="background:url('images/sideimg1.png')" >
          <div class="ui fluid info1">卖公司这事还是有很多学问的，Twitter 怎么就尴尬了？</div>
          <div class="sidbartag">
            <img class="ui fluid image sidbartagimg" src="images/redtag.png">
            <div class="sidbartagtxt">Top 1</div>
          </div>
        </div>


        <div class="ui basic  center aligned segment rightside" style="background:url('images/sideimg2.png')">
          <div class="ui fluid info1">硅谷收益最高的风投说，钱太多是这个市场最大的问题</div>
          <div class="sidbartag">
            <img class="ui fluid image sidbartagimg" src="images/yellowtag.png">
            <div class="sidbartagtxt">Top 2</div>
          </div>
        </div>


        <div class="ui basic  center aligned segment rightside" style="background:url('images/sideimg3.png')">
          <div class="ui fluid info1">看起来不起眼的日常设备，可能是未来网络攻击的对象</div>
          <div class="sidbartag">
            <img class="ui fluid image sidbartagimg" src="images/bluetag.png">
            <div class="sidbartagtxt">Top 3</div>
          </div>
        </div>

        <div class="ui list">
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">这部别出心裁的漫画，讲的是阿富汗战争时期不为人知的历史</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">华纳兄弟将拍摄的新片，讲述的是亚洲富豪的故事</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">美国各大银行纷纷关闭分行，说要向数字化转型</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">在医院看病也用微信支付，腾讯这回可能想多了   </a>
        	<div class="listdescription">3分钟前</div>
          <span class="sidbararrow"> </span><a class="item uilist" href="#">马化腾说，微信最早就是个邮箱</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">拿了这笔钱后，全球最红新媒体之一BuzzFeed值17亿美元了</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">意想不到的童年回忆杀，《蜡笔小新》最新剧场版来了内地</a>
        	<div class="listdescription">3分钟前</div>
        </div>
        <div class="ad">
        	<img src="images/ad.png">
        </div>










    	</div>+



    </div>




  </body>
</html>
