<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/semantic.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/css/detail-abstract.css" media="screen" title="no title">
    <title>知日报 - 详情页-摘要</title>
  </head>
  <body>
    <div class="total" style="width:1440px;margin:0 auto;position:relative;">
      <div class="ui red basic segment top" >
        <div class="ui five item text menu">
        <a href="#" class="item">
          <div class="ui image">
            <img src="/static/images/icon.png" alt="" />
          </div>
          <div class="ui image">
            <img src="/static/images/zhiribao.png" alt="" />
          </div>
        </a>
            <a class="item" style="color:black;font-size:18px;">
              首页
            </a>
            <a class="item" style="color:black;font-size:18px">
              大公司日报
            </a>
            <a class="item" style="color:black;font-size:18px">
              设计日报
            </a>
            <a class="item" style="color:black;font-size:18px">
              不许无聊
            </a>
        </div>
        <img class="img login"src="/static/images/login.png" alt="" />
        <span class="txt1">登录</span>
        <img class="img register"src="/static/images/register.png" alt="" />
        <span class="txt2">注册</span>
      </div>

       <div class="ui basic segment  leftside" >
          <hr style="border : 1px dashed white;" />

          <span>图片:Zoommy</span>
       </div>
       <div class="image-text" >
        小事，不如我们重新来过
       </div>
      <div class="eason">

          *** <br>

         但我拖着躯壳 <br>

         发现沿途寻找的快乐  <br>

          仍系于你肩膊    <br>

          via 陈奕迅《一丝不挂》 <br>

            ***
      </div>

      <div class="ui basic segment mid">
            <p style="font-size: 32px; color: #000000;">
                 你有吃东西吃哭了的经历吗？
            </p>

          <div class="ui image">
             <img  src="/static/images/avatar2.png"  alt="" />
          </div>
         <span style="margin-left:10px;font-size:16px;color: #000000;">  核桃街，</span>
         <span style="color:grey;font-size:16px;">真正的温柔是强大的人才给得起的。</span>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
           分手后，有一次去一家平时不常去的大型商场买东西，在冰柜里看到了他很喜欢的芝士（未经二次加工、加热后可拉丝那种，有比较多超市是买不到的）。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
           我并不喜欢这个。他却一直相当钟情，总夸赞口感如何有韧性、如何奶香浓厚。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
           我看到它后的第一反应就是，太好了，我可以直接在这儿买，不用网购了。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
           手还没伸出去，又马上想到，不在一起了，买来何用？我又不喜欢。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
           我于是推着车走了。后来，逛了一大圈，把所有需要的东西都拿了后，还是把它放进了购物车。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
           买回家后一直扔在冰箱里，甚至根本没有打开。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:60px;">
           再后来生日，他来了信息，说祝我生日快乐。并无他话。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          我迟疑很久，才回他道，你陪我过好吗？不然今年我只能自己一个人过生日了。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          消息发出去的那一刻我就后悔了，觉得自己特别白痴。尴尬得恨不得把手机砸了才好。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          然而他立刻就答应了。甚至都没给我一个机会让我掩饰说，我是开玩笑的，我有人陪。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:60px;">
          那天晚餐没做什么吃的，因为提出这顿饭都只是一时兴起。我记得自己打些了猪肉丸子，下了紫菜，窝了鸡蛋，撒了绿油油的葱花儿，还加了些乱七八糟的东西。一人一碗面，他带了个蛋糕过来。面要端出去的时候我忽然想起了芝士的存在，就把冰箱里的芝士拿了出来，放在碗里隔水加热融成稠状，然后在我们俩的面上都淋了半碗。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          面条端出来，我们沉默地吃着。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          我一边吃一边胡思乱想。气氛有些尴尬和怪异。吃着吃着，忽然觉得芝士倒也不难接受，配合着汤面还挺好的。可我也还是不算喜欢，以后就不吃了吧。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          芝士我放了很多，量非常足，但冰箱里还剩不少。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          那一刻我突然想，以后他不在了，我也不吃了，那包芝士又已经开封，送给他也不好，是不是就要这样一直放在冰箱，直到某天我重新想起，拿出来一看，啊，过期了，然后就这样扔掉呢？
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          以后的日子，从天上偶然看到的好看的云，到质感舒适的风衣……无论多么好的东西，我都没有身份和立场给他了吧。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
         无论多么好的东西。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          我想起我给他买过一条藏蓝色细条纹的领带，他很喜欢，执拗着让我替他打，我绑好领结的那一刻，抬头他安静地正望着我，凑过来吻了吻我的眼睛。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
           我想起夏天的时候，两人一人一听冰苏打水走在街上，满路蝉鸣日光，他忽然把自己手里冰冷的汽水罐贴在我的脖子上，我吓了一跳。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          我想起很多年前我们一起去庙会，人群里他偷偷握住我的指尖。远处的钟声厚重又悠远。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          那个瞬间，我眼泪忽然就下来了。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          哭仿佛是身体本能的反应，我甚至对自己的眼泪感到了一瞬间的诧异。然而伤感是实在的，那种疼痛和你与朋友、家人发生矛盾时的疼痛不同，那是实实在在的、心口上的生理性的痛感。就像有人猛地对你胸口开了一枪。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          我觉得太尴尬了。刚想用碗遮住脸，他就递过来了一张纸巾。我不想让他看到我的难堪和失态，也不想让他看到我的手在颤抖，并没有接。然后他便亲自替我擦眼泪。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          那一刻，我压抑许久的，以至于我自己都没有意识到它存在的情感，一下决堤了。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:60px;">
          我好不容易才重新镇定下来后，一抬头看见他也在看着我掉眼泪。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          他勉强地笑了笑说，你说这是不是我们最后一餐了。可我不想这是我们最后一餐。有什么问题，我们一起走过去好吗？
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          他说，你不喜欢吃这个的。你连出去吃披萨都要把上面的芝士先挑掉。除了你可能也没有人记得我喜欢这个。我们别勉强了，我们回去吧。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          那个瞬间我头脑混乱，我回忆起了很多过往。很多很多。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          我莫名其妙地想起了高中校园里一整条小路上的紫荆花，想起了他开玩笑时从我身后拽我的领子，想起很久之前有一次和他坐在学校的小花园聊天，他一边说话一边漫不经心地摘着野草在手里盘弄，离开时突然递给我一个草编的戒指……我想起了很多毫无意义的年少时的细节。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          很久以后我才懂，那个瞬间我大概是想明白了，再也不会有一个人，见过我曾经的脆弱和悲欢，见过我往昔的岁月和不易。我可能还会遇到很多很多的人，但这个人走了，就把曾经的我，也带走了一部分了。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          今生今世已惘然，山河岁月空惆怅。这话我读过，却在那一刻才恍然大悟。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          大抵说的就是那时的我吧。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:60px;">
          那餐饭自然是吃不下去了。
         </p>
         <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;">
          但除了剩下了那天碗里的芝士，我的冰箱里再没有浪费过多余的芝士了。
         </p>
       <span style="float:right;border-bottom:1px solid red;font-size:16px;margin-top:50px;">查看知乎原文（6015条讨论）</span>


      </div>

          <div class="ui basic center aligned segment" style="width:204px;height：148px;padding:0;position:absolute;top:3200px;left:280px;">
            <div class="ui image">
              <img src="/static/images/recommend_img1.png" style="width:100%;height:100%;" alt="" />
            </div>
          <div class="ui fluid info2">要接多少案子，才能成为一名专项律师？</div>
         </div>

         <div class="ui basic center aligned segment" style="width:204px;height：148px;padding:0;position:absolute;top:3200px;left:503px;">
           <div class="ui image">
             <img src="/static/images/recommend_img2.png" style="width:100%;height:100%;" alt="" />
           </div>
         <div class="ui fluid info2">面试官问你的缺点是什么，应该如何回答？</div>
        </div>

        <div class="ui basic center aligned segment" style="width:204px;height：148px;padding:0;position:absolute;top:3200px;left:726px;">
          <div class="ui image">
            <img src="/static/images/recommend_img3.png" style="width:100%;height:100%;" alt="" />
          </div>
        <div class="ui fluid info2">小事 . 必须结婚，不结不行</div>
       </div>


     <div class="ui basic segment bottom">
         <p ><b>评论</b></p>
         <div class="comment" style="margin-top:22px;;">
           <div class="ui image">
             <img src="/static/images/avatar_matt.png" alt="" />
           </div>
            <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">Matt</b>&nbsp;&nbsp;&nbsp;10-25 08:43</span>
            <span class="black-reply">&nbsp;&nbsp;&nbsp;很棒的文章！</span>
            <span class="red-reply">回复</span>
         </div>

         <div class="comment">
           <div class="ui image">
             <img src="/static/images/avatar_jack.png" alt="" />
           </div>
            <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">Jack</b>&nbsp;&nbsp;&nbsp;10-25 08:56</span>
            <span class="black-reply">&nbsp;&nbsp;&nbsp;为毛要用红笔画，看着别扭！</span>
            <span class="red-reply">回复</span>
         </div>

         <div class="comment">
           <div class="ui image">
             <img src="/static/images/avatar_yangjing.png" alt="" />
           </div>
            <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">杨静</b> 回复 <b style="color:black;">Jack</b>&nbsp;&nbsp;&nbsp;10-25 11:56</span>
            <span class="black-reply">&nbsp;&nbsp;&nbsp;这找茬的点还真是清新脱俗。</span>
            <span class="red-reply">回复</span>
         </div>

         <div class="comment" >
           <div class="ui image">
             <img src="/static/images/avatar_jack2.png" alt="" />
           </div>
            <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">Jack</b>&nbsp;&nbsp;&nbsp;10-25 08:43</span>
            <span class="black-reply">&nbsp;&nbsp;&nbsp;先帮我把千万年薪结一下谢谢。</span>
            <span class="red-reply">回复</span>
         </div>

         <div class="ui segment input-reply" style="width:601px;height:194px;border-radius: 5px;border: solid 1px #eaebeb;margin-top:75px;margin-bottom:40px;">

         </div>


          <div class="ui  red button" style="width:144px;height:49px;">
                <span style="color: #ffffff;font-size: 20px;font-weight: bold;">写评论</span>
          </div>
     </div>

     <div class="ui very padded segment fluid vertical inverted black container" style="position:absolute;top:4306px;height:299px;padding:48px 307px 0 282px;">
   		<div class="ui grid">
   			<div class="ui twelve wide column">
   				<div class="ui image">
   					<img src="/static/images/white_zhiribao_1.png">
   				</div>
   				<h3 style="margin-top:65px;font-size:24px;">
   				<a style="color:#f30c28;" href="#">关于我们</a> <span class="footdivider" style="color:#9b9b9b;" >|</span>
   				<a style="color:#f30c28;"  href="#">加入我们</a> <span class="footdivider" style="color:#9b9b9b;" >|</span>
   				<a style="color:#f30c28;"  href="#">联系我们</a> <span class="footdivider" style="color:#f30c28;" >|</span>
   				<a style="color:#f30c28;"  href="#">寻求报道</a>
   				</h3>
   				<h3 style="font-size:24px;">反馈建议：<span style="color:#f30c28;"  >houzhong@gmail.com</span></h3>

   			</div>
   			<div class="ui four wide column center aligned">
   				<div class="ui image">
   					<img src="/static/images/qrcode.png">
   				</div>
   					<h2>扫码关注微信号</h2>
   			</div>
   		</div>
   	<div class="ui grid">
   	<div class="ui circular big red button" style="width:32px; height: 62px; position: absolute;top:100%;left:50%;transform:translate(-50%,-50%)">
          <img src="/static/images/upicon.png" style="position:absolute;left:15%;top:10%;">
          <img src="/static/images/TOP.png" style="position:absolute;left:15%;bottom:28%;">
    </div>
   	</div>

   	</div>
   	<div class="ui very padded segment fluid vertical container" style="height:110px;position:absolute;top:4605px;padding-left:282px;border-bottom: solid 2px #f30c28;">
          <h2 style="color: #333333;color: var(--black);font-size: 24px;font-weight: 300;margin-top:-25px;">Designed By mugglecoding</h2>
   				<h2 style="color: #333333;color: var(--black);font-size: 24px;font-weight: 300;margin-top:-5px">Developed By XXX Team</h2>
   	      <span style="color: #333333;color: var(--black);font-size: 24px;font-weight: 300;position:absolute;right:279px;bottom:27px;">京&nbsp;ICP&nbsp;备123878345号</span>
    </div>


      <div class="ui  red basic segment rightside" style="padding-left:0;padding-right:0;" >
        <h3 class="ui center aligned header">编辑推荐</h3>

        <div  class="ui basic  center aligned segment rightside" style="background:url('/static/images/sideimg1.png')" >
          <div class="ui fluid info1">卖公司这事还是有很多学问的，Twitter 怎么就尴尬了？</div>
          <div class="sidbartag">
            <img class="ui fluid image sidbartagimg" src="/static/images/redtag.png">
            <div class="sidbartagtxt">Top 1</div>
          </div>
        </div>


        <div class="ui basic  center aligned segment rightside" style="background:url('/static/images/sideimg2.png')">
          <div class="ui fluid info1">硅谷收益最高的风投说，钱太多是这个市场最大的问题</div>
          <div class="sidbartag">
            <img class="ui fluid image sidbartagimg" src="/static/images/yellowtag.png">
            <div class="sidbartagtxt">Top 2</div>
          </div>
        </div>


        <div class="ui basic  center aligned segment rightside" style="background:url('/static/images/sideimg3.png')">
          <div class="ui fluid info1">看起来不起眼的日常设备，可能是未来网络攻击的对象</div>
          <div class="sidbartag">
            <img class="ui fluid image sidbartagimg" src="/static/images/bluetag.png">
            <div class="sidbartagtxt">Top 3</div>
          </div>
        </div>

        <div class="ui list">
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">这部别出心裁的漫画，讲的是阿富汗战争时期不为人知的历史</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">华纳兄弟将拍摄的新片，讲述的是亚洲富豪的故事</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">美国各大银行纷纷关闭分行，说要向数字化转型</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">在医院看病也用微信支付，腾讯这回可能想多了   </a>
        	<div class="listdescription">3分钟前</div>
          <span class="sidbararrow"> </span><a class="item uilist" href="#">马化腾说，微信最早就是个邮箱</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">拿了这笔钱后，全球最红新媒体之一BuzzFeed值17亿美元了</a>
        	<div class="listdescription">3分钟前</div>
        	<span class="sidbararrow"> </span><a class="item uilist" href="#">意想不到的童年回忆杀，《蜡笔小新》最新剧场版来了内地</a>
        	<div class="listdescription">3分钟前</div>
        </div>
        <div class="ad">
        	<img src="/static/images/ad.png">
        </div>
    	</div>+



    </div>




  </body>
</html>
