<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>知日报 - 登录页</title>
        <link rel="stylesheet" href="/static/css/semantic.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/css/login.css" media="screen" title="no title">
    </head>
    <body>
        <h1 class="ui header">登录</h1>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <div class="ui middle aligned image">
                        <img src="/static/images/usericon.png" alt="" />
                    </div>
                    <input type="text" placeholder="注册邮箱">
                </div>
                <div class="field">
                    <div class="ui middle aligned image">
                        <img src="/static/images/lockicon.png" alt="" />
                    </div>
                    <input type="text" placeholder="密码">
                </div>
                <div class="two fields">
                    <div class="field">
                        <div>
                            <div class="ui image small">
                                <img src="/static/images/checkboxicon.png" alt="" />
                            </div>
                            <label class="remember me">记住我</label>
                        </div>
                        <div>
                            <div class="ui image small">
                                <img src="/static/images/passwordicon.png" alt="" />
                            </div>
                            <label class="forget password">忘记密码</label>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui right floated red circular button"type="button" name="button">登录</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="ui divider"></div>
            <div class="red button"></div>
            <div class="ui image home">
                <img src="/static/images/homeicon.png" alt="" />
            </div>
            <h4>首页</h4>
            <div class="ui image title">
                <img src="/static/images/zhiribao.png" alt="" />
            </div>
        </div>
    </body>
</html>
